

body{
    background-image: url(../imagens/bg.jpg);
    background-repeat: no-repeat;
    background: size 100vh;
    height: 100%;
  

}



.mosca1{
    width: 50px;
}
.mosca2{
    width: 70px;
}
.mosca3{
    width: 90px;
}


.ladoA{
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}


.painel{
    width: 190px;

    position: absolute;
  
    padding: 10px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;

}

.vidas{
    float: left;
}

.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}